body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif; 
}

.search-bar {
  display: flex;
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  margin: 0 auto;
  margin-top: -77px;
  width: 550px;
  border-radius: 25px;
}

.search-bar :hover {
  background-color: #5f636807;
}

.search {
  padding: 0px 16px;
}

.search-icon {
  display: flex;
  align-items: center;
  padding-right: 13px;
}

.search-icon span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

.input-area {
  width: 480px;
  outline: none;
  height: 34px !important;
  word-wrap: break-word;
  letter-spacing: normal;
  border: none !important;
}

.search-btn {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  color: #5f6368;
}

.search-btn:hover {
  border: 1px solid #5f6368;
}

.feelinglucky {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #5f6368;
}

.feelinglucky:hover {
  border: 0.5px solid #5f6368;
}
.partitations {
  background-color: #70ccc2;
  border: #ffffff 2px solid;
  text-align: center;
}
.partitations a {
  color: #0000e7;
  text-decoration: underline;
}
 